<h3>
  Bienvenido a <%= title %>
</h3>
El portal donde podr&aacute; crear sus propios juegos!
<p></p>
<img src="/images/susana_angulo.jpg" weidth= "100" height="100" alt="Susana Angulo P&eacute;rez" border="2">
  <p>Autor: Susana Angulo P&eacute;rez</p>